[2020-10-01 14:39] TarunTomar122 opened #5 "Implement Support Vector Machine"
Related Resource one can follow :-
https://towardsdatascience.com/svm-implementation-from-scratch-python-2db2fc52e5c2

[2020-10-01 14:46] TarunTomar122 opened #6 "Implement Decision Trees"
Related Resources one can Follow :-
1. https://towardsdatascience.com/decision-tree-from-scratch-in-python-46e99dfea775
2. https://machinelearningmastery.com/implement-decision-tree-algorithm-scratch-python/

[2020-10-01 14:47] TarunTomar122 opened #7 "Implement Random Forests (After Decision trees)"
This issue will be merged only when Decision trees are implemented.
Related Resources one can follow :-
1. https://machinelearningmastery.com/implement-random-forest-scratch-python/
2. https://towardsdatascience.com/building-a-random-forest-classifier-c73a4cae6781

[2020-10-01 14:49] TarunTomar122 opened #8 "Implement Naive Bayes classification"
Related Resources to Follow :-
1. https://towardsdatascience.com/na%C3%AFve-bayes-from-scratch-using-python-only-no-fancy-frameworks-a1904b37222d
2. https://machinelearningmastery.com/naive-bayes-classifier-scratch-python/

[2020-10-01 14:51] TarunTomar122 opened #9 "Add more loss functions like cross-entropy..."
Right we have implemented only Mean Squared Error and Logarithmic Error as our loss functions in our module. As we are going to implement more and more machine learning algorithms we will need more loss functions. There in this issue you can add one or more loss functions like cross-entropy etc.

[2020-10-01 14:53] TarunTomar122 opened #10 "Add visualization through graphs to plot loss/epoch live while training."
Right we don't have any way to see how our loss per epoch is working or how our parameters are affecting the loss of our algorithm. We need some visualisation through graphs which can be done using matplotlib and cv2. Make some functions that can do the same.

[2020-10-01 14:53] TarunTomar122 opened #11 "Change All Functions and Matrices to accepted standards in the DL community."

[2020-10-01 14:54] TarunTomar122 opened #12 "Get Started with Neural Networks"
This issue for later stages of development. Once we have implemented all the basic algorithms it is necessary for us to make our own neural network from our module without any other library then numpy and matplotlib.

[2020-10-01 17:11] uakarsh commented on #11
Can you explain the issue specifically? I mean to ask, that what do you want to modify specifically?

[2020-10-01 19:28] agrawalshubham01 opened #14 "Option to save best weights during training"
https://github.com/RoboticsClubIITJ/ML-DL-implementation/blob/e30d8d4a3da242f59c9fe491d870fdfc029df07b/MLlib/models.py#L8-L29

In above code only the last weight is being saved, instead one can give user option to take which weight

[code]

In this way we can save best/last weight.

[2020-10-02 03:39] TarunTomar122 commented on #11
Leave this issue for now... Work on other issues cause this issue is supposed to fix the code structure and some function and terminologies to work up with actually DL standards.

[2020-10-02 03:56] JHunterHobbs commented on #14
Hello, may I be assigned this issue? Thanks

[2020-10-02 05:07] agrawalshubham01 commented on #14
Sure, Go ahead.

[2020-10-02 05:09] samarth-1729 commented on #5
I would like to this!

[2020-10-02 05:09] TarunTomar122 opened #16 "Create a proper Readme File for this module. Explain the functions implemented and the code structure properly."

[2020-10-02 05:10] TarunTomar122 commented on #5
@samarth-1729 alright Samarth take your time this issue is yours. We will add hacktoberfest tag also. Cheers!

[2020-10-02 05:12] samarth-1729 commented on #6
I would like to work on this issue!

[2020-10-02 05:13] TarunTomar122 commented on #6
We can't assign multiple issues to same person right away. @samarth-1729  finish one issue and then you can do more.

[2020-10-02 05:18] samarth-1729 commented on #5
Thanks!

[2020-10-02 05:18] rohansingh9001 commented on #14
@JHunterHobbs please add a parameter to the .fit() function so as to give the user an option to save the last weights or the best weights. You can decide the API and comment it first here. If we find that it integrates smoothly with the rest of the library and how we envision it moving forward, you can work on it and send a PR.

[2020-10-02 05:19] samarth-1729 commented on #6
Ok, No Problem!

[2020-10-02 05:23] Saptashrungi commented on #6
I would like to work on this issue.

[2020-10-02 05:31] TarunTomar122 commented on #6
@Saptashrungi  fine. Take your time this issue is yours.

[2020-10-02 05:38] Saptashrungi commented on #9
I would like to work on this issue. I will share the loss functions I would be working on by tomorrow.

[2020-10-02 05:38] rohansingh9001 opened #18 "Move all examples into an examples directory for more managed file structure."
Currently, all the examples are placed in the root directory of the repository. For now, there are only 2 examples. However, later this may become an issue and clutter up the root directory. We wish to move these examples into a root/examples directory for better file management.

[2020-10-02 05:43] Saptashrungi commented on #8
I would like to work on this issue.

[2020-10-02 05:44] rohansingh9001 commented on #11
@uakarsh Right now, some functions in some places do not follow proper nomenclature or matrix dimensions as discussed and accepted by research papers worldwide.

We wish to change the matrix and tensor sizes and dimensions to those standards.

[2020-10-02 05:55] Saptashrungi opened #20 "Implementing Absolute Error loss function"
Resources for the same:

https://towardsdatascience.com/importance-of-loss-function-in-machine-learning-eddaaec69519
https://towardsdatascience.com/understanding-the-3-most-common-loss-functions-for-machine-learning-regression-23e0ef3e14d3

[2020-10-02 05:55] TarunTomar122 commented on #8
@Saptashrungi  Go ahead this issue is yours now!

[2020-10-02 05:55] hiteshidudeja commented on #18
I would like to work on that

[2020-10-02 05:58] Saptashrungi opened #21 "Implementing Huber loss function"
Resources for the same:

https://towardsdatascience.com/importance-of-loss-function-in-machine-learning-eddaaec69519
https://towardsdatascience.com/understanding-the-3-most-common-loss-functions-for-machine-learning-regression-23e0ef3e14d3

[2020-10-02 06:01] quadri-haider-ali commented on #9
I would love to work on this part.

[2020-10-02 06:01] RidhimaKohli commented on #20
I would like to work on this.

[2020-10-02 06:02] rohansingh9001 commented on #9
@quadri-haider-ali Sure go ahead. Issue assigned to you.

[2020-10-02 06:03] rohansingh9001 commented on #20
@RidhimaKohli Go ahead issue assigned to you

[2020-10-02 06:08] Hinal-Srivastava commented on #21
Hi!
I would like to contribute to this. Just went through the documentation you've provided👍

[2020-10-02 06:14] rohansingh9001 commented on #18
@hiteshidudeja assigned.

[2020-10-02 06:17] TarunTomar122 commented on #21
hey @Hinal-Srivastava. You can start working on this issue right away. keep us updated with your work. Assigned to you now!

[2020-10-02 06:17] Hinal-Srivastava commented on #21
Yea sure. On it

[2020-10-02 06:22] kwanit1142 commented on #21
Hi, can multiple people work on single issue or single person only?

[2020-10-02 06:27] TarunTomar122 commented on #21
hi @kwanit1142 . although multiple people can work on same issue but i think this is a small issue and one person is enough. You can have a look at other issues for yourself. Thanks for understanding.

[2020-10-02 06:29] kwanit1142 commented on #16
can this issue be clarified in more precise way, like are we talking about loss functions or prediction function?

[2020-10-02 06:31] TarunTomar122 commented on #16
@kwanit1142  yes we need a complete official readme for our repo. This must include but not limited to the algorithms that we are working on, algorithms we have finished, some resources, our aim, how to contribute and what all librarires we are using....

[2020-10-02 06:31] kwanit1142 commented on #12
How much deep the neural network should be, like any precise information related to number of layers, can be provided on this?

[2020-10-02 06:32] kwanit1142 commented on #16
ohk, so in that case, I can contribute

[2020-10-02 06:33] rohansingh9001 commented on #16
@kwanit1142 You can start writing content for the repo and how to contribute. We will share this issue together.

[2020-10-02 06:36] TarunTomar122 commented on #12
@kwanit1142  i already mentioned this issue is for later stages of development. We haven't decided much for this right now!

[2020-10-02 06:38] kwanit1142 commented on #16
ohk, so in a better planned way, @rohansingh9001 which part you are working on and which portion I have to write?

[2020-10-02 07:48] slowdivesun commented on #16
can i help in this?

[2020-10-02 08:41] Hinal-Srivastava commented on #21
@TarunTomar122 PR submitted. Kindly review it :)

[2020-10-02 10:25] PawanSuryavanshi95 commented on #10
I made another class to visualize data, modified fit function to return costs, made a PR.

[2020-10-02 10:28] TarunTomar122 commented on #10
@rohansingh9001  have a look!

[2020-10-02 14:44] JHunterHobbs commented on #14
@rohansingh9001 - Can we just let `.fit()` always save the best and last weights, and then allow the user to specify which weights to use for the prediction? Like the example from @agrawalshubham01 ?

[2020-10-02 17:32] SaiSrichandra commented on #9
I would also like to work on this issue

[2020-10-02 17:45] SaiSrichandra opened #28 "Adding more Activation Functions"
Hello,
I have checked out the code and found out, you are using only Sigmoid as your activation function
I would like to add other activations like Softmax, Relu, Leaky Relu, Tanh, etc

[2020-10-02 17:46] SaiSrichandra commented on #28
I would like to work on this issue

[2020-10-03 03:36] agrawalshubham01 commented on #28
Sure, Go Ahead.

[2020-10-03 03:55] agrawalshubham01 opened #30 "Adding Doc strings."
There are many classes and function where the doc strings aren't added.

[2020-10-03 04:43] Mayank662 commented on #30
Sir @agrawalshubham01, I would like to work on this issue.

[2020-10-03 05:12] agrawalshubham01 commented on #30
Sure @Mayank662 , Go ahead.

[2020-10-03 12:55] thesauravkarmakar commented on #7
I would like to try this!

[2020-10-03 14:05] TarunTomar122 commented on #14
@JHunterHobbs  as @rohansingh9001  mentioned in the current standard libaries like tensorflow and pytorch fit function provides an arguement to save best or last. We want our modules to be as close to standard ones as possible. So It would be better if .fit() asks a parameter to save the last weights or the best weights.

[2020-10-03 14:07] JHunterHobbs commented on #14
Ok I'll make some changes to my PR. Thanks for the clarification

[2020-10-03 14:10] TarunTomar122 commented on #7
@thesauravkarmakar  alright you are assigned to this issue. Keep us  updated and inform in case you face any problems.

[2020-10-03 14:12] TarunTomar122 commented on #9
@SaiSrichandra  You can work on this... Do Tell prior what loss function are you going to add?

[2020-10-03 14:50] JHunterHobbs commented on #14
I'm a little confused because the issue documentation is asking for both the best *and* last weights to be saved but from this discussion it sounds like you are looking for either the best or last weights/model to be saved during training.

I also looked through both Tensorflow and PyTorch documentation to try see they were accomplishing this during fitting the model and I was not able to find any

[2020-10-03 15:44] rohansingh9001 commented on #14
@agrawalshubham01 please change the title of the issue to something better like "Option to save best weights during training" as our contributors are getting confused because of it.
Also @JHunterHobbs I have made a comment on your PR to clarify this issue. Hope that helps!

[2020-10-03 16:01] rohansingh9001 commented on #7
Decision trees have been added. This issue can be worked upon now.

@thesauravkarmakar typically we want both regression and classification functionality. If you want to implement only one of these, please let us know in advance 😉.

[2020-10-03 16:02] rohansingh9001 commented on #18
@hiteshidudeja If you are facing any issues you can ask here in comments.

[2020-10-03 16:03] thesauravkarmakar commented on #7
So @rohansingh9001  you want me to do Random Forest for Regression and Classification? Right?

[2020-10-03 16:14] rohansingh9001 commented on #7
@thesauravkarmakar You can implement even one if you wish to. Just inform us in that case so that someone else from the institute can work on the model that you are not working on. If you can do both great!

[2020-10-03 16:18] thesauravkarmakar commented on #7
I can work for Classification if I complete it and there is no one assigned for Regression, maybe I will try to do it.

[2020-10-03 16:29] rohansingh9001 commented on #8
PR #27 Solves this issue. Hence closing this issue.

[2020-10-03 16:29] #8 closed

[2020-10-03 18:39] agrawalshubham01 commented on #20
Fixed in PR #32 .

[2020-10-03 18:39] #20 closed

[2020-10-03 20:18] rohansingh9001 commented on #28
@SaiSrichandra since your PR was merged. I believe this issue has been resolved. Is there anything more that you wish to add?

Thanks for your contribution so far!

[2020-10-03 20:19] rohansingh9001 commented on #5
@samarth-1729 Any updates on this?

[2020-10-03 20:30] rohansingh9001 commented on #7
@thesauravkarmakar sure.

As far as I understand Hacktoberfest counts contributions to any public repository as long as your PR is not marked as spam or invalid.

We have labelled issues as Hacktoberfest already so that users can be motivated to contribute. However, the labelling is not necessary. You can correct me if I am wrong but people who have already contributed to the repository have alrea

[2020-10-04 02:27] #28 closed

[2020-10-04 04:46] #14 closed

[2020-10-04 04:54] q-viper commented on #12
I have written a NN library using NumPy only few months ago. Will something [like](https://github.com/q-viper/ML-from-Basics/tree/master/quark) this works?

[2020-10-04 05:01] thesauravkarmakar commented on #7
You're right. But due to recent spamming, they have added this HacktoberFest Opt-in. Check out this tweet: https://twitter.com/hacktoberfest/status/1312221208667185153?s=20

[2020-10-04 05:05] rohansingh9001 commented on #7
@thesauravkarmakar changes have been made. Any PRs you make on this repository will now count towards Hacktoberfest. Cheers.

[2020-10-04 05:13] rohansingh9001 commented on #30
@Mayank662 can you share any updates regarding this issue?

[2020-10-04 07:11] samarth-1729 commented on #5
I'll start today

[2020-10-04 09:01] hiteshidudeja commented on #18
@rohansingh9001 I am facing difficulty in importing MLlib module after creating examples-directory.

[2020-10-04 09:10] rohansingh9001 commented on #18
@hiteshidudeja You can have a look into [absolute imports](https://www.geeksforgeeks.org/absolute-and-relative-imports-in-python/) in python. Hope that will solve your problem.

[2020-10-04 11:22] samarth-1729 opened #35 "Implement K-Means Clustering"
Related resources one can follow:
https://towardsdatascience.com/k-means-clustering-from-scratch-6a9d19cafc25

[2020-10-04 14:34] rohansingh9001 commented on #12
@q-viper I found your repository quite interesting and fun. We do want something like that in our project.

I was about to start work on auto differentiator for our package. But it seems you have implemented some sort of version of it. In your repository.

I am checking your repository from my side, but please let me know if we could somehow merge our two libraries together in the sense that we ha

[2020-10-04 15:45] rohansingh9001 commented on #35
@TarunTomar122 Is this a duplicate? Or does it need to be added?

[2020-10-04 15:48] TarunTomar122 commented on #35
@rohansingh9001  i think this is a duplicate nd i have already implemented this. We can close this issue

[2020-10-04 15:52] samarth-1729 commented on #35
If you think KNN and K-Means are same refer this link:
https://medium.com/@dhiraj8899/difference-between-k-nearest-neighbor-k-nn-and-k-means-clustering-d9a44859182f#:~:text=clear%20and%20simple-,Difference%20between%20K%2DNearest%20Neighbor(K%2D,NN)%20and%20K%2DMeans%20Clustering&text=K%2DNN%20is%20a%20Supervised,a%20clustering%20machine%20learning%20algorithm.

[2020-10-04 15:58] TarunTomar122 commented on #35
@samarth-1729  okay samarth Sir! I am sorry for misunderstanding. I apologize for any mistake and this issue is up and runnin for everyone!

[2020-10-04 16:02] samarth-1729 commented on #35
Thank you!

[2020-10-04 16:03] q-viper commented on #12
Sure why not? As far as i am getting credits and i am looking for improvements.

[2020-10-04 16:52] kwanit1142 commented on #35
@samarth-1729 , are you working in this issue too, or someone else only should work on this ?

[2020-10-04 18:48] agrawalshubham01 commented on #18
@rohansingh9001 @hiteshidudeja I think, the better way for this would be to add examples in documentation of each functions. So the end user could understand as well as use the code base.

[2020-10-04 19:07] rohansingh9001 commented on #18
We can add examples in both the repo and the docs which are being made.

[2020-10-05 06:51] SaiSrichandra commented on #9
I will add the KL Divergence loss

[2020-10-05 14:00] rohansingh9001 commented on #30
@Mayank662 has not forked the repository yet nor responded with any updates. This issue can be assigned to somebody else for now.

[2020-10-05 14:04] TarunTomar122 commented on #9
Okay @SaiSrichandra do keep us updated

[2020-10-05 14:20] rohansingh9001 commented on #12
@q-viper That sounds great! I went through your repo and I understand your code now.

Since we want to include portions of your implementation of Neural Networks into our codebase, we could go two ways. Either you make PRs to this repo and add your code after understanding this repository and utilising what this repository has already implemented.

Or I could have the permission to use your code a

[2020-10-05 15:12] thesauravkarmakar commented on #7
Sorry! @rohansingh9001 I'm quite busy and won't be able to solve this issue

[2020-10-05 17:02] kwanit1142 commented on #30
can I work on this issue too?

[2020-10-05 18:26] rohansingh9001 commented on #7
@thesauravkarmakar no issues. We will assign it to someone else.

[2020-10-06 03:40] q-viper commented on #12
@roshansingh9001 can i make PR using my codes to this repo?

[2020-10-06 04:36] kwanit1142 commented on #11
Can I work on this?

[2020-10-08 15:27] SaiSrichandra opened #41 "Implement One hot encoding"
Hello,
I would like to add One hot Encoding in utils

[2020-10-10 12:05] RidhimaKohli commented on #30
Can I work on this ?

[2020-10-10 12:51] rohansingh9001 commented on #41
Please specify what exactly are you trying to do and which functions and classes you are adding. One hot encoding is already used by some models.

[2020-10-10 13:25] RidhimaKohli commented on #30
Can I work on this ?

[2020-10-10 13:25] kwanit1142 commented on #30
Can I work too?

[2020-10-10 13:38] agrawalshubham01 commented on #30
@kwanit1142 @RidhimaKohli go ahead I am assigning this to you both. Kindly share an example here before implementation.

[2020-10-11 09:38] Saptashrungi opened #45 "Implementation of Gaussian Naive Bayes"
In continuation of my previous #43 , where we can predict the class for given label( P(y/x)), further using Gaussian Naive bayes we can predict the label for given class( P(xi/y) ).
I will start working on it.

[2020-10-21 07:22] Saptashrungi commented on #45
Closing with #47

[2020-10-21 07:22] #45 closed

[2020-10-21 13:24] TarunTomar122 commented on #7
Just a heads up im doin this now!

[2020-10-22 05:53] kwanit1142 commented on #7
@TarunTomar122 , please after completing the code, also write docstrings for the same.

[2020-10-26 08:59] kwanit1142 commented on #35
Can I pick this issue?

[2020-10-27 19:59] kwanit1142 commented on #35
@rohansingh9001 @TarunTomar122 @Saptashrungi @samarth-1729 , code is complete and working fine, and within 1--2 days, will push the PR for k-means-clustering

[2020-10-29 08:47] kwanit1142 opened #52 "Implement Principal Component Analysis"
A Flexible Unsupervised Method to reduce the dimensionality of Input dataset, alongside preserving the information and minimizing the loss as much as possible.

Reference Literature for understanding ;

https://jakevdp.github.io/PythonDataScienceHandbook/05.09-principal-component-analysis.html

[2020-11-12 05:28] TarunTomar122 commented on #30
This worked nicely Thank you to the contributors!

[2020-11-12 05:28] #30 closed

[2020-11-12 05:30] TarunTomar122 commented on #21
Thanks for ur contribution! Closing this issue due to inactivity

[2020-11-12 05:30] #21 closed

[2020-11-12 05:30] TarunTomar122 commented on #18
Closing this as we have got a PR already!

[2020-11-12 05:30] #18 closed

[2020-11-12 05:36] TarunTomar122 commented on #16
Thanks for contribution... Closing NOw

[2020-11-12 05:36] #16 closed

[2020-11-12 05:50] #10 closed

[2020-11-12 05:50] #11 closed

[2020-11-14 07:21] #35 closed

[2020-11-27 13:33] utkarsh0702 commented on #52
Can I try working on this issue.

[2020-11-27 13:45] kwanit1142 commented on #52
YES u can, but remember to only use numpy only

not any predefined libraries like scikit and all

[2020-11-27 14:16] utkarsh0702 commented on #52
Sure I will

[2020-11-28 15:32] parva-jain commented on #9
Hey I would like to add mean squared logarithmic error(msle) and root mean squared logarithmic error(rmlse).

[2020-11-29 10:55] kritikaparmar-programmer commented on #52
Is someone working on this issue?

[2020-11-29 11:08] utkarsh0702 commented on #52
I am working on this issue.

[2020-11-29 23:02] soumya997 commented on #7
hey @TarunTomar122 @rohansingh9001 its a great repo, one thing I would like to ask you guys to do if possible.
As the repo is all about implementing an algorithm from scratch so can we make this as a python package. By doing that there will be three benefits **1. people will be able to get their basics clear(the aim of your repo (`This repository gives beginners and newcomers in the field of AI an

[2020-11-29 23:16] rohansingh9001 commented on #7
@soumya997 If you see some of the files in our repository, You will see that the repo already has some of the setup files needed to make it a python package, i.e. setup.py.
We will definitely make repo into a python package though there is some time in that. I want to fully polish the repository (or at least partially do so). There are some places here and there where it can still be improved. So

[2020-12-01 10:13] Player0109 commented on #41
Can I work on This?

[2020-12-01 12:47] Player0109 commented on #41
Here is the sample code of what I will do:

class OneHotEncoder():

    def fit(self, X, thresh):
        n = X.shape[0]
        m = X.shape[1]

        self.arr_dic = []
        self.arr_nunique = []
        self.encode = []
        for i in range(m):
            ls = np.unique( X[:,i] )
            n_unique = len(ls)
            dic = dict()

            if n_unique/n > thresh:
                s

[2020-12-02 10:34] bhanuexcalibur commented on #41
Can i work on this?

[2020-12-02 14:32] rohansingh9001 commented on #41
On the basis of FCFS @Player0109 You can work on this. Make sure to make your implementation mathematically correct. You can ask for more detail in the Gitter Channel. If something is not clear in the issue.

[2020-12-02 14:34] rohansingh9001 commented on #52
@utkarsh0702 keep us updated on your progress and feel free to ask anything in the Gitter channel regarding more clarifications.

[2020-12-02 14:35] rohansingh9001 commented on #9
@parva-jain sure go ahead. Keep us updated on your progress and feel free to ask anything in the Gitter channel for further clarification.

[2020-12-02 14:35] Player0109 commented on #41
@rohansingh9001 In which file and folder do I have to implement this class?

[2020-12-02 15:01] utkarsh0702 commented on #52
I have implemented main PCA functionality, trying to implement other functionalities.

[2020-12-02 15:08] Saptashrungi opened #57 "Implementation of Multinomial Naive Bayes classifier"
Resources:
https://towardsdatascience.com/multinomial-naive-bayes-classifier-for-text-analysis-python-8dd6825ece67
https://medium.com/@johnm.kovachi/implementing-a-multinomial-naive-bayes-classifier-from-scratch-with-python-e70de6a3b92e

PS: The resources might use pandas, however implementation should be using pure python with numpy.

[2020-12-02 15:13] rohansingh9001 commented on #41
@Player0109 in the MLlib/utils/misc_utils.py file. If required we will shift your code to a more suitable place in the future.

However, I would like to discuss the API of your class. Can you explain your Class and the methods within it with their parameters and what is its output?

[2020-12-02 15:20] Saptashrungi opened #58 "Implementation of Bernoulli Naive Bayes classifier"
This is similar to the multinomial naive bayes but the predictors are boolean variables. The parameters that we use to predict the class variable take up only values yes or no, for example if a word occurs in the text or not.

Resources:
https://kenzotakahashi.github.io/naive-bayes-from-scratch-in-python.html

[2020-12-02 15:25] rohansingh9001 opened #59 "Implement Polynomial regression"
You can use the following resource for reference https://towardsdatascience.com/polynomial-regression-bbe8b9d97491.

The resource uses sklearn but we have to implement a similar API in our library.
Implement polynomial regression in the models.py file in MLlib directory.
Also, add an example showcasing your additions in the examples folder. If you need to add a dataset for that, feel free to add i

[2020-12-02 15:29] rohansingh9001 opened #60 "Convert Activations from simple functions to classes and add gradient method."
Currently, all the activations in activations.py are simple functions.

However, for future implementation of Neural Networks, we will also need derivatives methods of each of these
functions. You can have a look into loss_func.py for reference. There, each class represents a loss function and has both loss
and derivative methods. You have to implement something similar for activations.

[2020-12-02 15:31] rohansingh9001 commented on #60
Converting all activations is not a requirement however you may implement only one or as many you prefer. Each implementation should be in different PR's. If you make a single PR implementing more than one function, I will only give your points for 1 easy contribution. So make sure you capitalise on this 😉.

[2020-12-02 15:36] Saptashrungi opened #61 "Implement Ridge regression a.k.a L2 Regularization"
Resources:
https://www.geeksforgeeks.org/implementation-of-ridge-regression-from-scratch-using-python/
https://machinelearningmastery.com/ridge-regression-with-python/

[2020-12-02 15:42] rohansingh9001 opened #62 "Wrap all numpy arrays as an Tensor class."
Currently, we are using all raw NumPy arrays in the directory.

However, we might need more functionality from these arrays specific to our class when we implement
features like Autogradient.

For now, we want to wrap all Numpy arrays in a simple Tensor class which inherits from the NumPy array class.

[2020-12-02 15:46] rohansingh9001 opened #63 "Incorporate Tensor class in every model."
NOTE: Can only be worked on when issue #62 is solved and closed.

If the Tensor class has been implemented, we now need to incorporate into our repository code throughout.

Since Tensor class should have all the same methods as a NumPy array, duck typing will come into play and everything will work together, however, we need to use Tensors whenever new NumPy arrays are being generated and used.

[2020-12-02 15:49] rohansingh9001 opened #64 "Implement autograd."
NOTE: Can only be worked on after issue #62 is completed and closed.

Autograd is a feature which lets us backpropagate gradients by automatically computing the gradients on a Tensor.

Such features come in very handy when implementing deep neural networks.

You can use the following resource to implement autograd - https://medium.com/@a.nikishaev/making-backpropagation-autograd-mnist-classifier-f

[2020-12-02 16:04] Saptashrungi opened #65 "Implementation of Bayesian optimization"
Resources:
https://machinelearningmastery.com/what-is-bayesian-optimization/
https://towardsdatascience.com/bayesian-optimization-concept-explained-in-layman-terms-1d2bcdeaf12f

[2020-12-02 16:15] kwanit1142 opened #66 "Requirement of Graphs, corresponding to each of the Implemented Machine-Learning Models"
In order to understand more about influence of Parameters, Hyper-Parameters and Input Dataset on a Machine-Learning Model, following Graphs are important : -

1. Loss v/s Number of Iterations.
2. Bias-Variance Tradeoff.
3. Visual Graphs, which highlight the working of a Model on Input Dataset, taken as an Example.

Reference Literatures for Machine Learning Models related Visualizations are mentio

[2020-12-02 16:20] ashwani-rathee commented on #59
I would like to take this up :)

[2020-12-02 16:21] rohansingh9001 commented on #59
@ashwani-rathee Go ahead.

[2020-12-02 16:22] kwanit1142 opened #67 "Necessities of Score Metrics, for evaluation of ML Classifier Models"
Reference Literatures for this issue are as follows : -

https://towardsdatascience.com/metrics-to-evaluate-your-machine-learning-algorithm-f10ba6e38234

https://towardsdatascience.com/20-popular-machine-learning-metrics-part-1-classification-regression-evaluation-metrics-1ca3e282a2ce                        <---------------------(Refer this first and foremost)

[2020-12-02 20:15] bhanuexcalibur commented on #57
Can this issue be please assigned to me?

[2020-12-02 20:38] bhanuexcalibur commented on #58
working on this, please assign this to me

[2020-12-02 20:40] bhanuexcalibur commented on #65
can you please assign this to me?

[2020-12-02 23:21] bhanuexcalibur commented on #61
can i please be assigned to this?

[2020-12-03 03:56] TarunTomar122 opened #68 "Improve Readme"
We need to write and link every algorithm and function implemented in our library in the readme.
Currently, there is no way to know what functions and algorithms have been implemented, so it is very hard for newcomers to understand the repository. We want to fix that by providing links in the Readme to all the functions and algorithms that are currently implemented  :)

[2020-12-03 10:20] parva-jain commented on #12
Can you explain this issue if there's any update?

[2020-12-03 12:38] GoldExplosion commented on #68
hi, i would like to take this issue :)
can you specify what you mean by write and link?
like give it a title and link it to website or web page where the algorithm is explained?

[2020-12-03 16:21] parva-jain opened #69 "Other variants of Relu can be added in the script activation.py"
I'm willing to add other variants of the Relu activation function for a wide range of applications of this package.

[2020-12-03 18:44] Player0109 commented on #41
class OneHotEncoder():

    #FUNCTIONS
    #(1) FIT(INPUT_X, THRESHOLD) --- It is used to calculate the number of unique values in each column and tell whether a particular column should be encoded or not.
    #(2) CHECK_TRANSFORM(INPUT_X) --- It is used to check whether the data which is being transformed has same values as the data which was used to fit it.
    #(3) TRANSFORM(INPUT_X) --- It is

[2020-12-03 18:45] Player0109 commented on #41
@rohansingh9001 can you Plz review the above code.

[2020-12-03 18:47] rohansingh9001 commented on #65
@bhanuexcalibur Sure go ahead

[2020-12-03 18:48] rohansingh9001 commented on #68
@GoldExplosion I think it just means take a table of all algorithms implemented currently. You might have to go through the code in order to do so. Also before you submit a PR, make sure that you explain the changes you are going to add incase we might need a different format.

[2020-12-03 18:49] rohansingh9001 commented on #61
@bhanuexcalibur You have been issued a different issue. You can work on that one first before working on this one.

[2020-12-03 18:57] rohansingh9001 commented on #12
@parva-jain If you want to, you can work on this issue. We want a separate neural network code implementation but it should use our activations, gradients and loss functions. Currently, the implementation of Neural Networks is placed in MLlib directory in the quark subdirectory. You might have a look into it.

However, currently, since we do not have a working AutoGrad or gradient methods for acti

[2020-12-03 18:58] rohansingh9001 commented on #69
@parva-jain Sure you can work on it. Before that can you please give a brief description of what all you are going to add?

[2020-12-03 19:15] rohansingh9001 commented on #41
@Player0109 I like your approach, but as far as a proper review is concerned, pasting code in a comment is not the proper way to ask for reviews. Therefore, I request you to submit a Pull Request with these changes. That is how proper reviews made on GitHub.

There are a small few changes I want to request. I will do so once you submit a proper PR. Also, make sure that you follow the PEP8 programm

[2020-12-04 03:04] GoldExplosion commented on #68
@rohansingh9001, ok I think I have a general idea. Thx

[2020-12-04 05:36] parva-jain commented on #62
I'm not having a clear understanding of what this issue is fixing and what should be present in the prepared script. Can you explain in more layman terms?

[2020-12-04 06:00] rohansingh9001 commented on #62
In very simplified terms, in Machine Learning, the data you have, be it training data, validation data of weights and biases are represented by Tensors. You might have seen multi-dimension arrays used quite often in Machine Learning they are actually tensors. In fact Matrices, Vectors and Scalars are all essentially tensors. Scalars are rank 0 Tensors, Vectors rank 1, Matrices rank 2 Tensors and s

[2020-12-04 07:52] parva-jain commented on #69
I have heard of Parametric Relu(PRelu) and Scaled ELU(SELU) functions but only able to find out their Keras implementation till now.
Also, there can be added more activation functions like a binary step function and a swish function.

[2020-12-04 14:57] Abjcodes commented on #60
Hey  @rohansingh9001, I have raised a PR after converting the sigmoid function. Please review it and notify me if there are any changes to be made so that I can convert the rest accordingly.

[2020-12-04 19:28] thisis-nkul opened #73 "Inclusion of parameter α in leakyRelu"
The current implementation of leakyRelu activation function does not take the value of α or slope of activation function for X<0 into account and directly assumes it to be 0.01, which is pretty much the standard. But the option to choose a custom α(and defaulting its value to 0.01) would be more convenient for the purpose of experimentation with models.

[2020-12-05 05:28] GoldExplosion commented on #68
@TarunTomar122 , i did the issue and  i have created a pull request.

[2020-12-05 05:58] #73 closed

[2020-12-05 06:34] Prachi0203 commented on #7
I want to work on this. I am a beginner in open source. Also decision trees is implemented or not?Or it's just random forest.?

[2020-12-05 06:38] Prachi0203 commented on #67
I want to work on this for now I can want to add accuracy,precision,recall, auc metrics

[2020-12-05 06:46] TarunTomar122 commented on #7
Hye @Prachi0203. Decision trees are already implemented in our library. You can check that out, the link is in the readme now. In this issue, you are supposed to implement random forest using the already implemented decision trees. I hope that clears all of your doubts. Feel free to ask more. And do keep us updated on your status with this issue.

[2020-12-05 20:50] rohansingh9001 commented on #69
@parva-jain sure go ahead, you can work on them. Make sure to follow PEP 8 formatting and correctness of your code.

[2020-12-06 05:58] Kerveyfelix commented on #68
Can I work on this?

[2020-12-06 05:59] Kerveyfelix opened #77 "Add issue template"
Can I make issue templates to enhance the workflow of the repository?

[2020-12-06 06:05] GoldExplosion commented on #66
I would like to work on this. How do I approach this?

[2020-12-06 09:41] kwanit1142 commented on #67
@Prachi0203 , apart from the work you done, there are still more to cover, that's why the Literature for respective issue is referred, so do check them and add other Score Metric components too, like F1 , F2 Scores,etc.

[2020-12-06 09:45] kwanit1142 commented on #66
@GoldExplosion Read the issue carefully and refer Literature for the type of plots that can be used appropriately. In addition to that, see the Machine-Learning Models in the Repository itself, because each Model will require different Visual representation, alongside their examples too.

[2020-12-06 09:55] GoldExplosion commented on #66
@kwanit1142 ok

[2020-12-06 12:29] Abjcodes opened #79 "Update Algorithms implemented table in Readme"
Currently, some of the links in the algorithms table refer to a separate branch, not the master branch. So the updates will not be shown in the resultant code referred in the links. Can I fix this?

[2020-12-06 14:39] rohansingh9001 commented on #79
Definitely go ahead. It would also be great if you could rewrite some of the headings in the table. Currently, It says "Algorithms Implemented". However, activation functions like relu and sigmoid aren't activations. They could use a different heading which does not lie under the Algorithms section.

[2020-12-06 16:11] Abjcodes commented on #79
@rohansingh9001 Sure.

[2020-12-06 16:18] Tejas1510 opened #82 "Code of Conduct"
The project is currently missing the Code of Conduct file which is important for open source project
So can I go for it @rohansingh9001

[2020-12-06 16:57] rohansingh9001 commented on #82
A open source project definitely needs a code of conduct however, please mention some of the points that will be mentioned in the code of conduct and refrences if any.

[2020-12-06 17:00] Kerveyfelix opened #83 "Add pull request template"
Can I add pull request template to this project to enhance the workflow of the repository?

[2020-12-06 17:01] KerinPithawala opened #84 "Add contributing.md file"
I think it is important to have contributing guidelines so that an open-source contributor know how to contribute properly.
Can I work on this?

[2020-12-06 17:04] Tejas1510 commented on #82
@rohansingh9001 It will be a formal code of conduct having points like pledge, standards, responsibility and will be based on the Contributor Covenant Code of Conduct which is a norm set for all open source project

[2020-12-06 17:32] agrawalshubham01 commented on #83
@Kerveyfelix i guess its already there. So kindly view that.

[2020-12-06 17:32] #83 closed

[2020-12-06 17:43] agrawalshubham01 opened #85 "Adding Tests for the repo"
Currently we are missing important part of the repo i.e the **tests**. I believe this couldn't be done in 1 PR. So multiple small PRs could be made. This could be tested by **pytest**. Then this could be merged with travis-ci.

[2020-12-06 18:02] agrawalshubham01 commented on #82
@Tejas1510 Kindly draft a Code of conduct here/ or any reference.

[2020-12-06 18:09] Tejas1510 commented on #82
@agrawalshubham01 Please See This

# Contributor Covenant Code of Conduct

## Our Pledge

In the interest of fostering an open and welcoming environment, we as
contributors and maintainers pledge to making participation in our project and
our community a harassment-free experience for everyone, regardless of age, body
size, disability, ethnicity, sex characteristics, gender identity and expression

[2020-12-06 18:12] agrawalshubham01 commented on #84
@Kerveyfelix , I believe that it would be great idea. I would suggest instead of typing names and email id manually we could write a python script that could read from git, the users which have contributed i.e using mailmap and gitpython.

[2020-12-06 18:18] agrawalshubham01 commented on #82
@Tejas1510 make a PR and submit this

[2020-12-06 18:44] Tejas1510 commented on #82
Sure

[2020-12-06 19:11] kwanit1142 commented on #68
I would like to suggest about the table in readme section, It would be great not to put all things in single table
instead split them according to their categories they are allotted to
like separate table for activation, another table for loss function, etc.
Also, Implemented Examples should be mentioned alongside their respective models, in the Table

[2020-12-07 03:48] kwanit1142 commented on #79
@Abjcodes

I would like to suggest about the table in readme section, It would be great not to put all things in single table
instead split them according to their categories they are allotted to
like separate table for activation, another table for loss function, etc.
Also, Implemented Examples should be mentioned alongside their respective models, in the Table

[2020-12-07 05:38] #82 closed

[2020-12-07 06:06] TarunTomar122 commented on #68
@kwanit1142  would you like to do it? or shall I give it to @Kerveyfelix

[2020-12-07 06:07] TarunTomar122 commented on #68
I think @kwanit1142  can guide @Kerveyfelix  on what to work on for this issue. You two may start now :)

[2020-12-07 06:07] kwanit1142 commented on #68
@TarunTomar122 give it to @Kerveyfelix

[2020-12-07 06:08] kwanit1142 commented on #68
Only formatting is required for splitting tables, corresponding to categories.

[2020-12-07 06:09] TarunTomar122 commented on #68
@Kerveyfelix  keep us updated on how you are going to improvise the tables

[2020-12-07 06:12] TarunTomar122 commented on #77
Yeah, sure you can. I think it would improve the experience. Keep us updated with your work here and feel free to ask any doubts.

[2020-12-07 06:52] Kerveyfelix commented on #84
That's a great idea, I will see if I can build a python script for the same.

[2020-12-07 07:01] Kerveyfelix commented on #77
Link to my pull request for fixing this issue: https://github.com/RoboticsClubIITJ/ML-DL-implementation/pull/87

[2020-12-07 07:38] Abjcodes commented on #60
Hey @rohansingh9001, @agrawalshubham01, could you guys reopen this issue since its not completed or should I open another issue for this?

[2020-12-07 12:19] agrawalshubham01 commented on #60
@Abjcodes now you can contribute here.

[2020-12-07 13:40] GoldExplosion commented on #66
@kwanit1142 i going to keep you posted on what i am doing.
right now, i am going to add separate methods for visualisation in each of the models. i will create a separate PR for each model.

[2020-12-07 14:53] kwanit1142 commented on #66
That seems to be nice. The Main Thing you have to focus on, is to include Appropriate and purposeful Graphs according to each model. They can be same or different , depending upon their application.

[2020-12-07 16:55] Halix267 commented on #9
Hey @rohansingh9001  I would like to add root mean squared logarithmic error (rmsle)

[2020-12-07 16:58] Halix267 commented on #59
Hey @rohansingh9001  can i work on this?

[2020-12-07 16:59] GoldExplosion commented on #66
ok got it

[2020-12-07 17:02] Halix267 opened #89 "Implement "Numerical outlier method" , to detect Anomaly/Outlier points in Dataset"

[2020-12-07 17:02] Halix267 commented on #89
@rohansingh9001 Can I work on this

[2020-12-07 17:04] Halix267 opened #90 "Add Linear_Regression_using_PyTorch"
Can i work on this @agrawalshubham01

[2020-12-07 17:09] Halix267 opened #91 "Support vector machine (SVM) with kernels (Linear, Poly, RBF)"
Can i work on this @agrawalshubham01

[2020-12-07 17:13] kwanit1142 commented on #90
You can refer the Readme.md File for information related to constrained usage of libraries, but Our implementations are only based upon Numpy and Matplotlib. So, I dont think PyTorch should be used, else you can still ask @agrawalshubham01 .

[2020-12-07 17:20] Halix267 commented on #90
@kwanit1142 can u check my other issues also is that issues are rlevant

[2020-12-07 17:20] Halix267 opened #92 "Principal component analysis (PCA)"
Can I work on this @agrawalshubham01 @kwanit1142

[2020-12-07 17:45] parva-jain commented on #9
Actually, I'm ready with the loss function of mean squared logarithmic error and derivative equation of mean squared logarithmic error(handly written) and only left with its implementation in python. Also @rohansingh9001, the equation is a bit complex so how should I justify it?

[2020-12-07 20:13] kwanit1142 commented on #92
@Halix267 , listen, before uploading any more issues from now, make sure that it is not repeated.

For that, see the issues mentioned already in this repository, in which SVM,PCA was already mentioned, their implementations are almost done.

[2020-12-07 20:15] kwanit1142 commented on #92
@Halix267 A piece of advice will be, instead of adding issues in haphazard fashion, make sure that issue is more unique than former issues in repository , and not repeated.

That's the good practice for creating unique issues .

[2020-12-08 03:38] agrawalshubham01 commented on #90
@kwanit1142 agreed, also was thinking to export this to pytorch but turns out pytorch has already a feature called  [torch.from_numpy](https://pytorch.org/docs/stable/generated/torch.from_numpy.html). So this as well doesn't make sense as our core is on numpy.

[2020-12-08 03:38] #90 closed

[2020-12-08 03:39] #92 closed

[2020-12-08 03:42] agrawalshubham01 commented on #91
@Halix267, do look at other issues. This issue is already there and PR is also open for this. Kindly open issues looking at existing issues, PR and Repo.

[2020-12-08 03:42] #91 closed

[2020-12-08 03:46] agrawalshubham01 commented on #89
@Halix267 which method are you going to implement ?

[2020-12-08 03:59] kwanit1142 opened #93 "Implement "Agglomerative Hierarchical Clustering""
Reference Literature for Working and Specific Details : -

https://stackabuse.com/hierarchical-clustering-with-python-and-scikit-learn/

https://www.analyticsvidhya.com/blog/2019/05/beginners-guide-hierarchical-clustering/   <-----(Focus only on Agglomerative Model)

For Program Structure, refer K-Means Clustering at models.py and its utilities at Utils folder, contained in MLlib folder.

[2020-12-08 04:12] kwanit1142 opened #94 "Implement "Divisive Hierarchical Clustering""
One of the least implemented Models for sure. Still, reference Literature associated with it are : -

https://www.analyticsvidhya.com/blog/2019/05/beginners-guide-hierarchical-clustering/  <---- (Focus on Divisive Model and Components for each Hierarchical Clustering Model)

https://www.geeksforgeeks.org/ml-hierarchical-clustering-agglomerative-and-divisive-clustering/ <---(Focus on Insight about

[2020-12-08 04:23] kwanit1142 commented on #52
@utkarsh0702 any updates about implementation till now ?

[2020-12-08 04:24] spursbyte commented on #5
I can help with this.Can i get the permission?

[2020-12-08 04:25] #77 closed

[2020-12-08 04:35] agrawalshubham01 commented on #68
@TarunTomar122 @kwanit1142, i guess it would be better to write comment at the starting of the file something like
[code]

This would reduce messiness of the initial readme file and in future if required we can add wiki to the pages to this. I guess it would be hard to maintain as we are currently maintaining.

[2020-12-08 04:41] agrawalshubham01 commented on #62
we could implement this creating a `core` folder and then create a wrapper function in that then import this core wrapper function wherever required.

[2020-12-08 04:48] Halix267 commented on #89
IQR method @agrawalshubham01 .

[2020-12-08 04:48] Halix267 commented on #89
for detection of outliers

[2020-12-08 04:49] kwanit1142 commented on #68
@TarunTomar122 @rohansingh9001 Give your insights too about this.

[2020-12-08 04:55] utkarsh0702 commented on #52
I am working on the functionality, but for the past 3 days I can't as I am out of town for some reasons. I will submit the full PCA implementation on Thursday this week.

[2020-12-08 04:56] kwanit1142 commented on #52
Ok, NP..

[2020-12-08 05:06] Halix267 opened #95 "Add PCA algorithm"
Can i work on this @agrawalshubham01

[2020-12-08 05:25] agrawalshubham01 commented on #89
Kindly draft your api here.

[2020-12-08 05:26] agrawalshubham01 commented on #95
I would suggest first complete one issue/PR then open other, anyway on this case we cannot do anything before PCA gets merged

[2020-12-08 05:56] kwanit1142 commented on #95
@Halix267 , this issue is already posted down below, and following is the link

https://github.com/RoboticsClubIITJ/ML-DL-implementation/issues/52

[2020-12-08 06:22] TarunTomar122 commented on #68
@agrawalshubham01  I think you are right.. So shall we close this issue and open another one for that?

[2020-12-08 06:35] Halix267 commented on #89
could u brief ? I m not getting

[2020-12-08 06:46] Halix267 commented on #93
@kwanit1142 Can I work on this?

[2020-12-08 06:49] Halix267 commented on #59
@agrawalshubham01 Can I take this issue as almost  a week  past and no pr is generated for this issue?

[2020-12-08 06:50] agrawalshubham01 commented on #89
@Halix267 draft your model code here.

[2020-12-08 06:52] agrawalshubham01 commented on #68
@TarunTomar122 That would be much better, we currently do not have __init__.py files after this we can implement that as well.

[2020-12-08 06:53] agrawalshubham01 commented on #59
@ashwani-rathee any updates??

[2020-12-08 06:57] kwanit1142 commented on #93
@Halix267 Do You referred Readme.md and Literature associated with this issue carefully ?

[2020-12-08 07:15] Halix267 commented on #89
def dataset_developer(n, probability=[0.05, 0.05, 0.15, 0.5, 0.15]):
	X = []
	while len(X)<n:
		t = random.random()
		if t<probability[0]:
			X.append(random.random()*0.2)
		elif t>=probability[0] and t<probability[1]+probability[0]:
			X.append(random.random()*0.2+0.2)
		elif t>= probability[1]+probability[0] and t<probability[0]+probability[1]+probability[2]:
			X.append(random.random()*0.2+0.2*

[2020-12-08 07:16] Halix267 commented on #89
@agrawalshubham01 done . Now what

[2020-12-08 07:22] Halix267 commented on #93
Yes @kwanit1142 I have read the literature and readme.

[2020-12-08 07:23] Halix267 commented on #93
And also i have knowledge about heirarcial clustering so i think i can do this issue.

[2020-12-08 07:26] kwanit1142 commented on #93
Ok then go for it and Provide updates for the same

[2020-12-08 07:51] Halix267 commented on #93
@kwanit1142 where I have to implement this algo, On a separate file or on the specific file

[2020-12-08 07:55] kwanit1142 commented on #93
@Halix267 thats why I said, see how K-Means Clustering is implemented in repository

In short, you have to make clustering class in models.py and its associated utilities at Utils folder inside MLlib folder

Also, for showing the work of Model, make Example file , with its corresponding Dataset too

[2020-12-08 08:07] Halix267 commented on #93
Ok got it ..thanks

[2020-12-08 09:23] parva-jain commented on #85
Can you tell what exactly the test scripts should contain and also one script for one function test or multiple functions?

[2020-12-08 09:36] parva-jain commented on #85
As per my understanding, I can make a test folder inside MLib and then a loss folder inside the test folder and then different test scripts for all loss functions, right?

[2020-12-08 10:57] agrawalshubham01 commented on #89
What I am trying to say is how would you create class, what would be methods and attributes, how could one use these classes. This is a python package just we need to define related functions using class so that we can inherit its properties. How could end user access it.
I got the logic, what I am asking is how would you draft your code such that some one else can use this

@rohansingh9001 Though

[2020-12-08 11:01] agrawalshubham01 commented on #85
@parva-jain I guess I will first initialise test and write an example, so that there would be no confusion. The basic structure would be like for activation.py we can create a file in `MLlib/Tests` named `test_activation.py`. Each subfolder could have another sub folder inside it named Tests where tests can be added.

[2020-12-08 11:46] parva-jain commented on #85
Alright...looking forward to contributing to it.

[2020-12-08 12:43] agrawalshubham01 commented on #85
@parva-jain i have made pr for initialising pytest, after getting merge you could see that I have made a folder tests in which `test_activations.py` is there, we will mantain same hierarchy.

[2020-12-08 12:45] parva-jain commented on #85
Alright.

[2020-12-08 13:37] Halix267 commented on #89
Yes guide me for drafing the API for the same @agrawalshubham01 @rohansingh9001

[2020-12-08 13:46] kwanit1142 commented on #95
@Halix267 you can see other issues till then.

[2020-12-08 13:46] #95 closed

[2020-12-08 15:18] tusharnankani commented on #84
We could use the [all-contributors bot](https://allcontributors.org/docs/en/bot/overview) to do the same.

[2020-12-08 15:28] tusharnankani commented on #62
I understand we could create a class, but isn't converting a NumPy array to a tensor as simple as:

[code]

[2020-12-08 19:26] parva-jain opened #99 "Wrong function in script activation.py"
**Wrong Function**
The unit_step function in the script activation.py is wrongly implemented by me and got merged also. I realized my fault while writing its test script. Allow me to correct it.

[2020-12-09 02:31] agrawalshubham01 commented on #99
@parva-jain yup, go on.

[2020-12-09 14:29] RATED-R-SUNDRAM commented on #61
i would like to work on the issue

[2020-12-10 14:48] #41 closed

[2020-12-10 15:00] Halix267 commented on #59
Can I take this now ??

[2020-12-10 15:00] Halix267 commented on #59
@agrawalshubham01 @rohansingh9001

[2020-12-10 15:08] rohansingh9001 commented on #89
@Halix267 sorry for the delay, I was busy in other important commitments.

However, in an issue try to be as descriptive as you can. There are no resources given for us to understand what Numerical Outlier method is or what can it do.
Even if we do have knowledge about this algorithm from background education, we still do not know how robust your solution will be or what all it can do.

Secondly,

[2020-12-10 15:15] rohansingh9001 commented on #59
@Halix267 Yes, it seems there are no updates from the original assignee.

I would recommend working only on one issue for now though and you can work on the second one after you complete the first in order to reduce the load on you and leave everyone oppurtunities.

[2020-12-10 15:17] rohansingh9001 commented on #5
@spursbyte It has already been taken and a PR is submitted.

[2020-12-10 15:29] Halix267 commented on #89
ok @rohansingh9001 I wil provide the dataset but first can u guide me How i can proceed on this issue

[2020-12-10 15:30] Halix267 commented on #59
ok @rohansingh9001 I will do that issue as fast as i can

[2020-12-10 15:55] Halix267 commented on #89
@rohansingh9001

And  about your question imagine the user is preprocessing the dataset and in that dataset suppose there is height column in feet...

And the values are  1.2, 1.3 , 4, 5.1, 5.6, 6.3, 41.2,  50 .....

clearly 1.2,1.3 and 41.2 , 50 are the outliers which results in decreasing model performance.

So to improve the model performance user can find the outliers and exclude them accordin

[2020-12-10 16:10] spursbyte opened #102 "Adaboost algorithm implementatiom drom scratch"
Adaboost is an important boosting algo in machine learning as it helps to enhance the performance of decision trees over classification problems. It will be really helpful if it implemented and stored in this repo. ref: https://medium.com/analytics-vidhya/implementing-an-adaboost-classifier-from-scratch-e30ef86e9f1b

[2020-12-10 18:30] vighneshanand commented on #65
can this be assigned to me?

[2020-12-11 03:31] agrawalshubham01 opened #103 "[Bug report] Test error"
**Describe the bug**
Import error to other files after updating the function of `activations.py`

[code]

**To Reproduce**
Steps to reproduce the behavior:
1.` python3 -m pytest --doctest-modules --cov=./ --cov-report=html`

[2020-12-11 10:49] GoldExplosion commented on #68
i would like to give it a try

[2020-12-11 13:10] parva-jain opened #105 "Changes in loss functions"
As we have discussed in the gitter channel that the dimensions of the input matrices are wrongly mentioned in the  loss_function.py, therefore need to be changed. Also, the dimensions of the W and Y vectors are not mentioned. Apart from doc change, there is also an additional 2 is divided in the mean squared error which is not there in original loss function(compared to sklearn's method). So allow

[2020-12-11 13:19] parva-jain commented on #103
I would like to fix it.

[2020-12-11 13:32] parva-jain commented on #94
Can we use scipy or sklearn library for implementing this algo?

[2020-12-11 14:10] Halix267 commented on #89
@rohansingh9001 @agrawalshubham01 Plzz look at this , Can I start working on this issue?

[2020-12-11 14:39] kwanit1142 commented on #68
(@GoldExplosion) Sure, just have a look on above mentioned insights and suggestions. In addition to that, You can coordinate with @Kerveyfelix too, on improvisation.

[2020-12-11 14:46] GoldExplosion commented on #68
Ok got it

[2020-12-11 14:46] kwanit1142 commented on #94
(@parva-jain) The main essence of this Repository is limited usage of libraries , specifically NumPy and MatPlotLib, so

We cannot use other libraries like Scipy and Sklearn.

[2020-12-11 14:54] kwanit1142 commented on #69
LGTM too.

[2020-12-11 14:54] #69 closed

[2020-12-11 15:02] kwanit1142 commented on #99
LGTM too.

[2020-12-11 15:02] #99 closed

[2020-12-12 08:57] ashwani-rathee commented on #7
@rohansingh9001 Has this been assigned to anybody or I can work on this??

[2020-12-12 09:00] ashwani-rathee commented on #94
@kwanit1142 @rohansingh9001 can I work on this??

[2020-12-12 10:14] Siddhant-K-code commented on #102
I wanted to contribute this, where to add this Algorithm

[2020-12-13 07:41] agrawalshubham01 commented on #103
@parva-jain i guess like previously `sigmoid` was a function and now it is class so instead of importing function we would need to import class

[2020-12-13 07:57] parva-jain commented on #103
That's what I meant by this.

[2020-12-13 13:24] Vishal-raj-1 opened #108 "Contributors Image In Readme"
I think it is a great feature to add contributors image in README file. It really motivate to contributors. It is dynamically order the contributors.

![contrimga](https://user-images.githubusercontent.com/59874304/102012505-dd198200-3d70-11eb-8e1e-379f47ccd7e2.JPG)

If you want to this feature on README so I want to do this issue !! 😄

[2020-12-14 03:02] agrawalshubham01 commented on #108
I don't see any use of it, if we maintain `authors` file, so closing.

[2020-12-14 03:02] #108 closed

[2020-12-14 15:41] RATED-R-SUNDRAM opened #109 "EXTEND THE MODEL OF LINEAR REGRESSION INTO MULTI VARIABLE DATA"
THE CODE IN THE LINEAR REGRESSION HAS THE INPUT VARIABLE X AS 1D ARRAY SIGNIFYING A ONE FEATURED INPUT BUT WE CAN ALSO EXTEND THE CONCEPT OF LINEAR REGRESSION TO A MULTIPLE VARIABLE DATA

[2020-12-15 09:44] ParthPathak27 commented on #62
``class Tensor:

    def __init__(self, data, requires_grad=False):
        self.data = data
        if not isinstance(data, np.ndarray):
            self.data = np.array(data)
        # whether to run backpropagation or not
        self.requires_grad = requires_grad
        # tensor gradient
        self._grad = None
        # operation if this tensor was used in it
        self._grad_fn = None

[2020-12-15 09:45] ParthPathak27 commented on #62
`class Tensor:

    def __init__(self, data, requires_grad=False):
        self.data = data
        if not isinstance(data, np.ndarray):
            self.data = np.array(data)
        # whether to run backpropagation or not
        self.requires_grad = requires_grad
        # tensor gradient
        self._grad = None
        # operation if this tensor was used in it
        self._grad_fn = None

[2020-12-15 09:46] ParthPathak27 commented on #62
`class Tensor:

    def __init__(self, data, requires_grad=False):
        self.data = data
        if not isinstance(data, np.ndarray):
            self.data = np.array(data)
        # whether to run backpropagation or not
        self.requires_grad = requires_grad
        # tensor gradient
        self._grad = None
        # operation if this tensor was used in it
        self._grad_fn = None

[2020-12-16 06:09] utkarsh0702 commented on #62
Can I try working on this issue?

[2020-12-16 19:40] Aman-1701 commented on #94
@kwanit1142  Can i work on it??

[2020-12-17 12:30] GoldExplosion commented on #66
i haven't worked on this. i would like not take this issue. sorry.

[2020-12-18 05:33] RATED-R-SUNDRAM commented on #67
hey i just wanted to ask that all these necessities have to be included in models.py ? could u guide me to exact task associated with the issue.

[2020-12-18 09:33] kwanit1142 commented on #67
@RATED-R-SUNDRAM , see #76 , although pull requested, you can still get insight.

In short, you have to make a separate file, which can be used as an import by most of the models, to showcase their scores.

[2020-12-18 12:45] kwanit1142 commented on #94
Anyone can try this Issue.
Don't worry. @ashwani-rathee , you can try too.

[2020-12-18 12:51] kwanit1142 commented on #66
No worries, Its OK

[2020-12-18 12:54] kwanit1142 commented on #60
@Abjcodes raise single PR, as it will be easier for us to get close look on multiple models , simultaneously.

[2020-12-29 15:50] Abjcodes commented on #60
Hey @kwanit1142 @rohansingh9001  @agrawalshubham01, Please check the PR. Also, I need some clarification regarding the gradient of heviside function. Is it okay to include Diracdelta using the sympy module?
I will fix the failing checks along with the changes to be made if there are any.

[2020-12-31 10:41] rsrkpatwari1234 commented on #65
hey @rohansingh9001!! I want to work on this issue.Can you please assign it to me?

[2021-01-31 18:23] Vinit-source commented on #9
Hey I would like to add the Triplet loss.
Refer [this](https://en.wikipedia.org/wiki/Triplet_loss#:~:text=Triplet%20loss%20is%20a%20loss,a%20negative%20(falsy)%20input.) for more info. on it.

[2021-02-12 13:14] #84 closed

[2021-02-12 14:19] harsh-ux commented on #58
I would like to work on this @rohansingh9001. Please assign it to me.

[2021-02-14 09:16] kwanit1142 commented on #58
@harsh-ux , you are good to go from here.

[2021-02-14 13:08] thisis-nkul commented on #64
I am willing to work on this. @rohansingh9001 please assign this to me if possible.

[2021-02-14 15:38] kwanit1142 commented on #52
Closing the Issue, as it is accomplished. Thanks for contributing @utkarsh0702

[2021-02-14 15:38] #52 closed

[2021-02-14 15:39] #68 closed

[2021-02-15 10:07] #62 closed

[2021-02-15 12:03] #103 closed

[2021-02-16 16:16] #58 closed

[2021-02-18 19:09] #57 closed

[2021-02-19 07:23] hiteshidudeja commented on #93
@kwanit1142 I would like to work on this issue

[2021-02-19 10:09] harsh-ux commented on #65
@kwanit1142 I would like to work on it

[2021-02-19 10:21] kwanit1142 opened #122 "Incorporate "Pandas Library Support" ,for inputting the data"
Resources :-

https://pandas.pydata.org/docs/
https://realpython.com/pandas-read-write-files/

[2021-02-19 10:22] kwanit1142 commented on #65
@harsh-ux , you can work accordingly then.

[2021-02-19 13:33] #64 closed

[2021-02-19 18:14] #60 closed

[2021-02-20 09:49] kwanit1142 commented on #59
Issue closed, after its completion.

[2021-02-20 09:49] #59 closed

[2021-02-21 12:54] Vinit-source commented on #94
@kwanit1142 I would like to work on this issue. Sorry for the late update.

[2021-02-21 13:00] kwanit1142 commented on #94
@Vinit-source , Sure.

[2021-02-23 10:00] kwanit1142 commented on #122
@agrawalshubham01, can you help here, refining this issue, in a specific manner?

[2021-02-25 08:29] Udit-git-acc commented on #9
I would like to add cosine similarity loss function.

[2021-02-26 07:51] kwanit1142 commented on #9
@Vinit-source and @Udit-git-acc, Okay 👍

[2021-02-26 13:43] kwanit1142 commented on #85
Thanks to @hiteshidudeja , for adding the remaining Test modules for activation Functions. Closing this Finished Issue.

[2021-02-26 13:43] #85 closed

[2021-02-26 17:45] Siddharth-Singh27 commented on #9
I would like to add logcosh_loss function

[2021-02-26 18:00] kwanit1142 commented on #9
@Siddharth-Singh27 sure, go on

[2021-02-26 18:17] kwanit1142 commented on #89
Resource :-

https://naysan.ca/2020/06/28/interquartile-range-iqr-to-detect-outliers/ <-------------------- (See this implementation)

[2021-02-26 18:35] kwanit1142 commented on #109
Closing the Issue, as the implementation is not only to linear regression, but it will be applicable to other models too. In addition to this, the above-mentioned issue will be taken care of, when the library will have a sufficiently larger number of models.

[2021-02-26 18:35] #109 closed

[2021-02-26 18:38] kwanit1142 commented on #12
As #62 and #64 are solved, so @thisis-nkul, you can start from here on. Also, if anyone wants to work on this as well, then they are welcome too.

[2021-02-27 07:26] kwanit1142 commented on #6
@Shreya-IITJ, this issue is reopened, as the Implementation is not yet complete. From here on, you can continue your work.

[2021-02-27 13:14] kwanit1142 commented on #79
Thanks to @ShreyaSachan, Readme's been updated. So, closing the Issue.

[2021-02-27 13:14] #79 closed

[2021-02-28 07:17] kwanit1142 opened #132 "Implement Lasso regression a.k.a L1 Regularization"
Resources:-

https://www.geeksforgeeks.org/implementation-of-lasso-regression-from-scratch-using-python/    <------(Apart from sklearn import due to train-test split, Implementation is relevant enough to be referred)

https://mlforanalytics.com/2018/05/29/lasso-regression-and-its-implementation-with-python/

https://machinelearningmastery.com/lasso-regression-with-python/ <-----------------(Just f

[2021-02-28 14:04] Siddharth-Singh27 commented on #89
I would like to work on this issue

[2021-02-28 14:24] kwanit1142 commented on #89
Sure 👍

[2021-03-01 09:28] kwanit1142 commented on #89
Thanks to @Siddharth-Singh27, the issue's been solved. Hereby, closing it.

[2021-03-01 09:28] #89 closed

[2021-03-03 10:38] kwanit1142 opened #134 "Implementing other "Anomaly Detection" Methods"
After Numerical Outlier Method, other "Anomaly Detection" Methods are also required to be implemented as well. Below are some of the Resources:-

https://www.analyticsvidhya.com/blog/2019/02/outlier-detection-python-pyod/    <----------(Refer from here)
https://pyod.readthedocs.io/en/latest/  <-------------------------------------------(Famous Toolkit for Outlier Detection Models)

https://towards

[2021-03-04 05:19] kwanit1142 commented on #6
Thanks to @Shreya-IITJ. Now Finally Closing this Issue.

[2021-03-04 05:19] #6 closed

[2021-03-04 05:20] kwanit1142 commented on #7
Thanks to @Shreya-IITJ, Finally Closing this issue

[2021-03-04 05:20] #7 closed

[2021-03-04 18:45] Siddharth-Singh27 commented on #67
I would like to work on this issue.

[2021-03-04 19:55] kwanit1142 commented on #67
Okay, @Siddharth-Singh27

[2021-03-05 03:28] kwanit1142 commented on #67
Closing the issue, as it's PR is merged.

[2021-03-05 03:28] #67 closed

[2021-03-11 09:58] kwanit1142 opened #143 "Implementing "Advanced Clustering Models""
**Is your feature request related to a problem? Please describe.**
A sort of exploration to other domains like Unsupervised Learning, Anomaly Detection, etc.

**Describe the solution you'd like**
Hereby, I attach some Resources in order to be taken reference from:-

https://www.analytixlabs.co.in/blog/types-of-clustering-algorithms/           <-------------(Detailed Descriptions of Algorithms)
htt

[2021-03-11 10:20] kwanit1142 opened #144 "Creative and Newer Format for "Algorithms / Domain" Detail Tables"
**Is your feature request related to a problem? Please describe.**
As a beginner, while witnessing the ReadMe Section, it should be pretty clear about Algorithms / Tools.

**Describe the solution you'd like**
As more models would be added in the future, Models/Tools should not be only mentioned but categorized according to application field, with 1-2 line description and link to the class/function

[2021-03-11 20:13] harsh-ux commented on #132
I would like to work on it

[2021-03-11 20:25] #65 closed

[2021-03-12 12:18] kwanit1142 opened #148 "Implementing "Feature Scaling and Normalization Techniques" for Utility to Input Dataset"
**Is your feature request related to a problem? Please describe.**
For better accuracy and easier processing.

**Describe the solution you'd like**
Attaching Resources accordingly, for reference:-

https://sebastianraschka.com/Articles/2014_about_feature_scaling.html
https://towardsdatascience.com/understand-data-normalization-in-machine-learning-8ff3062101f0
https://developers.google.com/machine-

[2021-03-13 07:51] kwanit1142 commented on #93
Thanks to @hiteshidudeja, finally closing this Issue :)

[2021-03-13 07:51] #93 closed

[2021-03-18 10:09] kwanit1142 opened #152 "Implementing other "Optimized Gradient Descent Variants""
**Is your feature request related to a problem? Please describe.**
In addition to Gradient Descent Variants from Research Papers, other more advanced optimizers are present as well.

**Describe the solution you'd like**
https://ruder.io/optimizing-gradient-descent/    <----------(See this till more references will be uploaded)

**Describe alternatives you've considered**
Decide accordingly, whethe

[2021-03-20 17:49] #94 closed

[2021-03-21 15:57] kwanit1142 commented on #132
Issue's completed, so dissolving it now.

[2021-03-21 15:57] #132 closed

[2021-03-21 15:57] kwanit1142 commented on #61
Issue's Complete, thus dissolving it.

[2021-03-21 15:57] #61 closed

[2021-03-21 19:28] kwanit1142 commented on #148
Closing this issue, as it is finished, thanks to @ShreyaSachan and @devyani-code

[2021-03-21 19:28] #148 closed

[2021-03-26 12:19] kwanit1142 opened #161 "Splitting Models.py into Multiple Folders, according to Domain of Learning"
**Is your feature request related to a problem? Please describe.**
Models.py will tend to increase, as more models will get included, which will take more time for IDE to compile. Right now, we have different models of different domain learnings, like regression, classification, unsupervised, anomaly detection, etc...

**Describe the solution you'd like**
According to the domain of which the model

[2021-03-28 08:14] kwanit1142 commented on #66
Completion Phase-1

Linear Regression Plots -> Devyani
Logistic Regression Plots -> Shreya Sachan
Polynomial Regression Plots -> Siddharth Singh

[2021-03-28 08:15] kwanit1142 commented on #9
Completion Phase-1

Huber Loss -> Shreya Sachan
Cosine Similarity -> Udit Agarwal
Mean Squared log loss -> Devyani
Log cosh loss -> Siddharth Singh

[2021-03-29 07:09] #105 closed

[2021-03-30 09:41] kwanit1142 opened #163 "Implement Complement Naive Bayes and Categorical Naive Bayes Models"
Resources :-

https://scikit-learn.org/stable/modules/naive_bayes.html
https://scikit-learn.org/stable/modules/generated/sklearn.naive_bayes.ComplementNB.html#sklearn.naive_bayes.ComplementNB
https://scikit-learn.org/stable/modules/generated/sklearn.naive_bayes.CategoricalNB.html#sklearn.naive_bayes.CategoricalNB

[2021-03-30 09:55] kwanit1142 commented on #134
Completion Phase-1 :-

Numerical Outlier detection using Interquartile Method - Siddharth Singh
Z-Score Method - Siddharth Singh

[2021-03-30 09:56] kwanit1142 commented on #143
Completion Phase-1:-

Divisive Hierarchical Clustering - Vinit Gore
Agglomerative Hierarchical Clustering - Hiteshi Singh

[2021-03-31 16:35] thisis-nkul opened #166 "Implementing Optimizers"
**Is your feature request related to a problem? Please describe.**
The current implementation of optimizers does not fairly generalize to neural networks.
Reason: They are hard-coded to work with a single parameter at a time and so are most of the loss functions.

**Describe the solution you'd like**
We should implement the pre-existing optimizers from scratch (not really scratch though) in the fo

[2021-04-03 19:18] kwanit1142 commented on #144
Thanks to @Siddharth-Singh27 and @devyani-code, most of the Update part been done. Only Description Column is left. To be Done after Code Review.

[2021-05-23 13:28] kwanit1142 commented on #5
This Issue is now again open for solution.

[2021-09-24 12:17] kwanit1142 opened #173 "Implement Linear Discriminant Analysis"
References :-

https://www.section.io/engineering-education/linear-discriminant-analysis/
https://youtu.be/9IDXYHhAfGA

[2021-09-24 12:23] kwanit1142 opened #174 "Implement KNN Classifier"
References :-

https://machinelearningmastery.com/tutorial-to-implement-k-nearest-neighbors-in-python-from-scratch/
https://towardsdatascience.com/how-to-build-knn-from-scratch-in-python-5e22b8920bd2

[2021-09-24 12:28] kwanit1142 opened #175 "Add other Distance-based Cost Metrics into a Single Python Class File"
References ;-

https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.DistanceMetric.html ---> (A Guide for various distance metrics, so just refer the mathematical formulas, then implement here)

https://aigents.co/blog/publication/distance-metrics-for-machine-learning
https://machinelearningmastery.com/distance-measures-for-machine-learning/
https://towardsdatascience.com/importance

[2021-09-25 17:26] alivejojo commented on #174
I would like to work on this, thanks.

[2021-09-25 18:09] kwanit1142 commented on #174
Sure, understand the problem and make your implementation accordingly, with the limitation of using only numpy and matplotlib.

[2021-09-25 18:17] #174 closed

[2021-09-27 10:08] kwanit1142 opened #176 "Implement Bagging Classifier and Regressor"
Aim :- Make Bagging convenient according to the Base_Estimator_Model (Linear Regression, Decision Tree, SVMs, etc.) and according to their numbers too.

References :-

https://machinelearningmastery.com/implement-bagging-scratch-python/   <----- (Take Idea for Bagging Samples from here)

Most of the Implementation would be self-done. Still more resources would be tried to brough upon here.

[2021-09-27 10:19] kwanit1142 opened #177 "Implement Decision Tree Regressor and Random Forest Regressor"
Reference :-

https://towardsdatascience.com/regression-tree-in-python-from-scratch-9b7b64c815e3 <----- (This can be sufficient for Random Forest as well as Decision Tree too)

[2021-09-27 10:26] kwanit1142 opened #178 "Implement Hidden Markov Model"
Reference :-

https://towardsdatascience.com/hidden-markov-model-implemented-from-scratch-72865bda430e

[2021-09-27 10:33] kwanit1142 opened #179 "Implement various Hypothesis Tests as Statistically Significant Metrics"
References :-

https://machinelearningmastery.com/how-to-code-the-students-t-test-from-scratch-in-python/  <---- (Example implementation from scratch)

https://machinelearningmastery.com/statistical-hypothesis-tests-in-python-cheat-sheet/  <---- (Various Types of Tests mentioned here)

Note :- Knowledge about Probability Distributions and Hypothesis Domain should be a helping hand, alongside Imple

[2021-09-27 10:46] #122 closed

[2021-09-30 10:37] alivejojo commented on #173
Me and Ritam (Mobius-strip) would like to work on this, thanks!

[2021-09-30 10:39] Mobius-strip commented on #173
yes, we both would like to work on it, thanks!

[2021-09-30 14:01] kwanit1142 commented on #173
Sure, go ahead, understand the principle and implementation itself, then come back with the script accordingly.

[2021-10-04 08:41] kwanit1142 opened #183 "Implement other types of Boosting Techniques"
Reference (An introductory one) :-

https://www.analyticsvidhya.com/blog/2020/02/4-boosting-algorithms-machine-learning/

[2021-10-04 14:40] iamayushanand commented on #5
I would like to contribute to this.

Note: The resource link attached in the statement of this issue has an incorrect implementation of the SVM. Merely changing the input features from X to [X 1] biases the separating hyperplane . (Refer to last paragraph on page 2 here [mit 6.867](https://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-867-machine-learning-fall-2006/lecture-note

[2021-10-04 16:44] kwanit1142 commented on #5
@iamayushanand and @devyani-code, yaa sure u both can contribute to this problem statement.

Regarding the references scenario, you guys can also seek the better ones if necessary :-)

One Advice :- Keep the optionality for the User to pick and choose between variants of SVM Kernels

[2021-10-06 20:05] kwanit1142 commented on #175
Completion Phase-1

Euclidean, Manhattan and Chebyshev --> Devyani Gorkar
Minkowski and Weighted Minkowski --> Aaditya Baranwal

[2022-10-03 17:51] eternal-f1ame commented on #179
Please assign this task to me

[2022-10-03 18:15] dr-ghost commented on #9
I would like to add the Binary Crossentropy loss function

[2022-10-03 18:36] kwanit1142 commented on #179
Okay, Done

[2022-10-04 17:34] ShubhamMishra1611 commented on #175
Please assign this task to me.

[2022-10-05 06:10] kwanit1142 commented on #175
Okay, go ahead.

[2022-10-05 06:10] kwanit1142 commented on #9
Sure, go ahead

[2022-10-05 06:12] kwanit1142 commented on #173
Due to prolonged absence of contribution in this issue, its now open for anyone to contribute. But first, get assigned by messaging here.

[2022-10-05 06:12] kwanit1142 commented on #179
Are you sure @eternal-f1ame ? XD

[2022-10-07 07:34] Exoutia commented on #173
can I try this, I am new to this but want to work with this i know python and interested to learn about it

[2022-10-07 08:14] kwanit1142 commented on #173
Have you went through the basic resources, mentioned for the issue as well as the mathematics?